---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Diogo Serino — Articles</title>
    <link>{{ site.url }}/</link>
    <description>Visual breakdowns of product strategy, analytics, and business fundamentals by Diogo Serino, Product Manager &amp; Builder.</description>
    <language>en</language>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml"/>
{%- for a in collections.articles | articlesIn("en") | sortByOrder %}
    <item>
      <title>{{ a.data.title | feedTitle }}</title>
      <link>{{ site.url }}{{ a.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ a.url }}</guid>
      <description>{{ a.data.description }}</description>
    </item>
{%- endfor %}
  </channel>
</rss>
